.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.text-primary {
    color:#FD6E0A ;
}
/* shared style */
.dark-2{
    color:rgba(71, 71, 71, 1) ;
}
.dark-3 {
    color: rgba(117, 117, 117, 1);
}
.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border:none ;
    font-size: 20px;
    font-weight: bold;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav ul a {
    text-decoration: none;
}
/* banner style */
.banner-content {
    max-width: 585px;
    height: 356px;
}
.greetings {
    font-weight: 600;
    font-size: 45px;
}
.title-heading {
    font-weight:bold ;
    font-size: 85px;
}
.banner-description{
    font-size: 18px ;
    font-weight: 400;
}
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;

}
.banner-img {
    height: 676px;
    width: 584px;

}